<div class="mil-title-line mil-mb-60 mil-up">
    <h2>Education</h2>
    <div class="mil-line"></div>
    <div class="mil-h2 mil-number">05</div>
</div>
<ul class="mil-timeline mil-mb-75">
    <li class="mil-mb-15 mil-up">
        <div class="mil-timeline-card">
            <div class="mil-left">
                <h3 class="mil-line-height mil-mb-20"><span class="mil-accent">01.</span> Art school</h3>
                <div class="mil-badge mil-dark mil-mb-20-plus">2006 - 2008</div>
            </div>
            <div class="mil-right">
                <p class="">Repellendus minima repellat fuga tempora impedit alias dolores odit id, placeat ut officia dicta.</p>
            </div>
        </div>
    </li>
    <li class="mil-mb-15 mil-up">
        <div class="mil-timeline-card">
            <div class="mil-left">
                <h3 class="mil-line-height mil-mb-20"><span class="mil-accent">02.</span> Lviv academy of arts</h3>
                <div class="mil-badge mil-dark mil-mb-20-plus">2008 - 2013</div>
                <a href="files/certificate-1.jpg" class="mil-link mil-hover-link" data-fancybox="certificate" data-no-swup>Certificate</a>
            </div>
            <div class="mil-right">
                <p class="">Dolore molestias rerum voluptate quas laborum perferendis iste omnis ipsam velit eius architecto quibusdam. Recusandae unde minima officiis dolore.</p>
            </div>
        </div>
    </li>
    <li class="mil-mb-15 mil-up">
        <div class="mil-timeline-card">
            <div class="mil-left">
                <h3 class="mil-line-height mil-mb-20"><span class="mil-accent">03.</span> Envato courses</h3>
                <div class="mil-badge mil-dark mil-mb-20-plus">2014 - 2015</div>
                <a href="files/certificate-2.jpg" class="mil-link mil-hover-link" data-fancybox="certificate" data-no-swup>Certificate</a>
            </div>
            <div class="mil-right">
                <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit ex illum omnis consequatur quas vitae esse ipsum molestias vel libero.</p>
            </div>
        </div>
    </li>
</ul>