<div class="mil-title-line mil-mb-60 mil-up">
    <h2>Services</h2>
    <div class="mil-line"></div>
    <div class="mil-h2 mil-number">01</div>
</div>
<div class="row mil-mb-75">
    <div class="col-xs-12 col-sm-6 mil-mb-15">
        <div class="mil-service-card mil-up">
            <h3 class="mil-mb-20"><span class="mil-accent">01.</span> UI/UX Design</h3>
            <p class="mil-mb-20-plus">I design intuitive user interfaces that captivate from the first click. Optimizing the user experience to achieve maximum impact.</p>
            <a href="contact.html" class="mil-link mil-hover-link">Order service</a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 mil-mb-15">
        <div class="mil-service-card mil-up">
            <h3 class="mil-mb-20"><span class="mil-accent">02.</span> Web Dev</h3>
            <p class="mil-mb-20-plus">I build moderm, high-performance websites using the latest technologies. Ensuring stability and responsiveness across all devices.</p>
            <a href="contact.html" class="mil-link mil-hover-link">Order service</a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 mil-mb-15">
        <div class="mil-service-card mil-up">
            <h3 class="mil-mb-20"><span class="mil-accent">03.</span> Graphic Design</h3>
            <p class="mil-mb-20-plus">I create eye-catching visual solutions that reflect your brand's uniqueness. From illustrations to brand books, all in one style.</p>
            <a href="contact.html" class="mil-link mil-hover-link">Order service</a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 mil-mb-15">
        <div class="mil-service-card mil-up">
            <h3 class="mil-mb-20"><span class="mil-accent">04.</span> Marketing</h3>
            <p class="mil-mb-20-plus">I develop strategies that reach your audience and boost brand recognition across both digital and traditional channels.</p>
            <a href="contact.html" class="mil-link mil-hover-link">Order service</a>
        </div>
    </div>
</div>