<div class="mil-frame-wrapper">
    <app-loading></app-loading>
    <div class="mil-frame">
        <app-navbar></app-navbar>
        <div class="mil-content">
            <div class="mil-overlay"></div>
            <div class="mil-left-part">
                <div class="transition-fade" id="swupMain">
                    <!-- portfolio -->
                    <div class="mil-content-frame">
                        <div class="mil-scroll mil-half-1 mil-bp-fix">
                            <div class="mil-grid-frame">
                                <app-skill></app-skill> 
                                <div class="mil-grid mil-grid-4-col">
                                    <div class="mil-grid-sizer"></div>
                                    <app-img-article title="Configurator" category="mil-filter-1"
                                        img="img-dark/portfolio/1.jpg" [big]="false"></app-img-article>
                                    <app-img-article title="Configurator" category="mil-filter-1"
                                        img="img-dark/portfolio/2.jpg" [big]="false"></app-img-article>
                                    <app-img-article title="Configurator" category="mil-filter-1"
                                        img="img-dark/portfolio/3.jpg" [big]="true"></app-img-article>
                                    <app-img-article title="Configurator" category="mil-filter-1"
                                        img="img-dark/portfolio/4.jpg" [big]="true"></app-img-article>
                                    <app-img-article title="Configurator" category="mil-filter-1"
                                        img="img-dark/portfolio/5.jpg" [big]="false"></app-img-article>
                                    <app-img-article title="Configurator" category="mil-filter-1"
                                        img="img-dark/portfolio/6.jpg" [big]="false"></app-img-article>
                                    <app-img-article title="Configurator" category="mil-filter-1"
                                        img="img-dark/portfolio/7.jpg" [big]="false"></app-img-article>
                                    <app-img-article title="Configurator" category="mil-filter-1"
                                        img="img-dark/portfolio/8.jpg" [big]="false"></app-img-article>
                                    <app-img-article title="Configurator" category="mil-filter-1"
                                        img="img-dark/portfolio/9.jpg" [big]="true"></app-img-article>
                                    <app-img-article title="Configurator" category="mil-filter-1"
                                        img="img-dark/portfolio/10.jpg" [big]="false"></app-img-article>
                                    <app-img-article title="Configurator" category="mil-filter-1"
                                        img="img-dark/portfolio/11.jpg" [big]="false"></app-img-article>
                                    <app-img-article title="Configurator" category="mil-filter-1"
                                        img="img-dark/portfolio/12.jpg" [big]="true"></app-img-article>
                                    <app-img-article title="Configurator" category="mil-filter-1"
                                        img="img-dark/portfolio/13.jpg" [big]="false"></app-img-article>
                                    <app-img-article title="Configurator" category="mil-filter-1"
                                        img="img-dark/portfolio/14.jpg" [big]="false"></app-img-article>
                                    <app-img-article title="Configurator" category="mil-filter-1"
                                        img="img-dark/portfolio/15.jpg" [big]="true"></app-img-article>
                                    <app-img-article title="Configurator" category="mil-filter-1"
                                        img="img-dark/portfolio/16.jpg" [big]="false"></app-img-article>
                                    <app-img-article title="Configurator" category="mil-filter-1"
                                        img="img-dark/portfolio/17.jpg" [big]="false"></app-img-article>
                                    <app-img-article title="Configurator" category="mil-filter-1"
                                        img="img-dark/portfolio/18.jpg" [big]="false"></app-img-article>
                                </div>
                            </div>
                        </div>
                        <app-bottom-panel></app-bottom-panel>
                    </div>
                </div>
                <!-- portfolio end -->
            </div>
        </div>
    </div>
</div>
