<div class="mil-bottom-panel">
    <div class="mil-jcc mil-w-100">
        <div class="mil-filter mb-30">
            <!-- filter link -->
            <a href="#" data-filter="*" class="mil-link mil-current" data-no-swup>All</a>
            <!-- filter link -->
            <a href="#" data-filter=".mil-filter-1" class="mil-link" data-no-swup>Front-End</a>
            <!-- filter link -->
            <a href="#" data-filter=".mil-filter-2" class="mil-link" data-no-swup>Back-End</a>
            <!-- filter link -->
            <a href="#" data-filter=".mil-filter-3" class="mil-link" data-no-swup>Database</a>
            <!-- filter link -->
            <a href="#" data-filter=".mil-filter-4" class="mil-link" data-no-swup> I.A. </a>
        </div>
    </div>
</div>
