<div class="mil-title-line mil-mb-60 mil-up">
    <h2>language</h2>
    <div class="mil-line"></div>
    <div class="mil-h2 mil-number">02</div>
</div>
<div class="row mil-mb-60">
    <div class="col-xs-12 col-sm-6 mil-mb-30">
        <div class="mil-skill-item mil-up">
            <div class="mil-top">
                <span class="mil-link">French</span>
                <span>Native</span>
            </div>
            <div class="mil-progress">
                <div class="mil-progress-prog mil-add-class" data-size="100%"></div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 mil-mb-30">
        <div class="mil-skill-item mil-up">
            <div class="mil-top">
                <span class="mil-link">English</span>
                <span>75%</span>
            </div>
            <div class="mil-progress">
                <div class="mil-progress-prog mil-add-class" data-size="75%"></div>
            </div>
        </div>
    </div>
</div>
