<div class="mil-grid-item {{big? 'mil-grid-item-size-2' : ''}} {{category}}">
    <div class="mil-work-card mil-mb-15 mil-up">
        <a href="{{img}}" data-fancybox="gallery" data-no-swup>
            <img src="{{img}}" alt="cover">
        </a>
        <div class="mil-descr">
            <a href="#." class="mil-zoom">
                <i class="fal fa-expand"></i>
            </a>
            <div class="mil-name">
                <h3>{{title}}</h3>
                <a href="project-fw-2.html" class="mil-link mil-hover-link">Scopri di più</a>
            </div>
        </div>
    </div>
</div>