<div class="mil-menu-part">
    <a href="home.html" class="mil-logo">
        <!-- text logo -->
        <span>FF</span>
        <!-- image logo <img src="img-dark/ui/logo.png" alt="wa"> -->
    </a>
    <div class="mil-menu-panel">
        <nav class="mil-main-menu">
            <ul >
                <li class="mil-current"><a routerLink="/home" ><i class="fal fa-home"></i><span>Home</span></a></li>
                <li><a routerLink="/portfolio"><i class="fal fa-palette"></i><span>Portfolio</span></a></li>
                <li><a routerLink="/contact"><i class="fal fa-envelope"></i><span>Contact</span></a></li>
                <li><a href="files/cv.txt"><i class="fal fa-file-download"></i><span>Download CV</span></a></li>
            </ul>
        </nav>
        <div class="mil-menu-btn"><span></span></div>
    </div>
</div>
