<div class="mil-title-line mil-mb-60 mil-up">
    <h2>Work</h2>
    <div class="mil-line"></div>
    <div class="mil-h2 mil-number">06</div>
</div>
<ul class="mil-timeline mil-mb-75">
    <li class="mil-mb-15 mil-up">
        <div class="mil-timeline-card">
            <div class="mil-left">
                <h3 class="mil-line-height mil-mb-20"><span class="mil-accent">01.</span> Pixy creative agency</h3>
                <div class="mil-badge mil-dark mil-mb-20-plus">2016 - 2017</div>
            </div>
            <div class="mil-right">
                <p class="">Repellendus minima repellat fuga tempora impedit alias dolores odit id, placeat ut officia dicta. Recusandae unde minima officiis dolore. Quas vitae esse ipsum molestias vel libero</p>
            </div>
        </div>
    </li>
    <li class="mil-mb-15 mil-up">
        <div class="mil-timeline-card">
            <div class="mil-left">
                <h3 class="mil-line-height mil-mb-20"><span class="mil-accent">02.</span> Ashley art studio</h3>
                <div class="mil-badge mil-dark mil-mb-20-plus">2017 - 2019</div>
            </div>
            <div class="mil-right">
                <p class="">Dolore molestias rerum voluptate quas laborum perferendis iste omnis ipsam velit eius architecto quibusdam. Recusandae unde minima officiis dolore.</p>
            </div>
        </div>
    </li>
    <li class="mil-mb-15 mil-up">
        <div class="mil-timeline-card">
            <div class="mil-left">
                <h3 class="mil-line-height mil-mb-20"><span class="mil-accent">03.</span> Themeforest</h3>
                <div class="mil-badge mil-dark mil-mb-20-plus">2019 - Today</div>
            </div>
            <div class="mil-right">
                <p class="">Praesentium minus dolores reprehenderit doloremque suscipit dolore animi deleniti expedita, soluta beatae! Voluptatibus, cupiditate earum facilis. Quae, dolores!</p>
            </div>
        </div>
    </li>
</ul>