
    
<div class="mil-frame-wrapper">
    <app-loading></app-loading>
    <div class="mil-frame">
        <app-navbar></app-navbar>
        <div class="mil-content">
            <div class="mil-overlay"></div>
            <div class="mil-left-part">
                <div class="transition-fade" id="swupMain">
                    <!-- cv -->
                    <div class="mil-cv-clone-here"></div>
                    <!-- cv end -->
                </div>
            </div>
            <div class="mil-right-part">
                <!-- cv -->
                <div class="mil-content-frame mil-cloned">
                    <div class="mil-scroll mil-half-2">
                        <div class="mil-main-content">
                            <app-barner></app-barner>
                            <div class="mil-space-90 mil-p-0-75">
                                <app-service></app-service>
                                <app-lenguage></app-lenguage>
                                <app-skill></app-skill>
                                <app-review></app-review>
                                <app-education></app-education>
                                <app-work></app-work>
                                <app-price></app-price>
                                <app-social></app-social>
                            </div>
                        </div>
                        <app-footer></app-footer>
                    </div>
                </div>
                <!-- cv end -->
            </div>
        </div>
    </div>
