<div class="mil-title-line mil-mb-60 mil-up">
    <h2>Skills</h2>
    <div class="mil-line"></div>
    <div class="mil-h2 mil-number">03</div>
</div>
<div class="row mil-mb-60">
    <div class="col-xs-12 col-sm-6 mil-mb-30">
        <div class="mil-skill-item mil-up">
            <div class="mil-top">
                <span class="mil-link">Figma</span>
                <span>90%</span>
            </div>
            <div class="mil-progress">
                <div class="mil-progress-prog mil-add-class" data-size="90%"></div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 mil-mb-30">
        <div class="mil-skill-item mil-up">
            <div class="mil-top">
                <span class="mil-link">Html</span>
                <span>80%</span>
            </div>
            <div class="mil-progress">
                <div class="mil-progress-prog mil-add-class" data-size="80%"></div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 mil-mb-30">
        <div class="mil-skill-item mil-up">
            <div class="mil-top">
                <span class="mil-link">Photoshop</span>
                <span>75%</span>
            </div>
            <div class="mil-progress">
                <div class="mil-progress-prog mil-add-class" data-size="75%"></div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 mil-mb-30">
        <div class="mil-skill-item mil-up">
            <div class="mil-top">
                <span class="mil-link">Css / scss</span>
                <span>95%</span>
            </div>
            <div class="mil-progress">
                <div class="mil-progress-prog mil-add-class" data-size="95%"></div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 mil-mb-30">
        <div class="mil-skill-item mil-up">
            <div class="mil-top">
                <span class="mil-link">Adobe XD</span>
                <span>80%</span>
            </div>
            <div class="mil-progress">
                <div class="mil-progress-prog mil-add-class" data-size="80%"></div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 mil-mb-30">
        <div class="mil-skill-item mil-up">
            <div class="mil-top">
                <span class="mil-link">Js / React</span>
                <span>60%</span>
            </div>
            <div class="mil-progress">
                <div class="mil-progress-prog mil-add-class" data-size="60%"></div>
            </div>
        </div>
    </div>
</div>
