<div class="mil-divider mil-mb-60 mil-up"></div>
<p class="mil-mb-30 mil-up">Thank you very much for your attention ❤️ ! Follow me on social media and don't forget to
    visit <a href="blog-fw.html" class="mil-text-link mil-accent">my blog</a> I post a lot of interesting things about
    design and not only.</p>
<ul class="mil-social mil-up">
    <li><a href="#" target="_blank" data-no-swup><i class="fab fa-instagram"></i></a></li>
    <li><a href="#" target="_blank" data-no-swup><i class="fab fa-behance"></i></a></li>
    <li><a href="#" target="_blank" data-no-swup><i class="fab fa-dribbble"></i></a></li>
    <li><a href="#" target="_blank" data-no-swup><i class="fab fa-pinterest-p"></i></a></li>
</ul>