<div class="mil-title-line mil-mb-60 mil-up">
    <h2>Price</h2>
    <div class="mil-line"></div>
    <div class="mil-h2 mil-number">07</div>
</div>
<div class="row mil-mb-75">
    <div class="col-sm-6">
        <div class="mil-price-card mil-mb-15 mil-up">
            <div class="mil-link mil-true mil-mb-15">Hourly payment</div>
            <div class="mil-price-number mil-mb-10">
                <span class="mil-symbol mil-accent">$</span>
                <span class="mil-main mil-accent">19</span>
                <span>/hour</span>
            </div>
            <p class="mil-mb-30">Availability on a predetermined time</p>
            <ul class="mil-mb-30">
                <li>User Interface (UI) Design</li>
                <li>User Experience (UX) Design</li>
                <li>Prototyping and Wireframing</li>
                <li>Website and App Development</li>
            </ul>
            <a href="contact.html" class="mil-link mil-hover-link mil-accent">Choose plan</a>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="mil-price-card mil-mb-15 mil-up">
            <div class="mil-link mil-true mil-mb-15">Hourly payment</div>
            <div class="mil-price-number mil-mb-10">
                <span class="mil-symbol mil-accent">$</span>
                <span class="mil-main mil-accent">2900</span>
                <span>/month</span>
            </div>
            <p class="mil-mb-30">Full availability 8 hours a day</p>
            <ul class="mil-mb-30">
                <li>User Interface (UI) Design</li>
                <li>User Experience (UX) Design</li>
                <li>Prototyping and Wireframing</li>
                <li>Website and App Development</li>
                <li>Website Maintenance & Updates</li>
            </ul>
            <a href="contact.html" class="mil-link mil-hover-link mil-accent">Choose plan</a>
        </div>
    </div>
</div>